import java.util.Scanner;
public class kullaniciGirisi {
    public static void main(String[] args){
        String userName,password,newPassword,answer;

        Scanner input=new Scanner(System.in);
        System.out.print("Kullanıcı Adınızı Giriniz: ");
        userName= input.nextLine();
        System.out.print("Şifrenizi Giriniz: ");
        password= input.nextLine();

        if(userName.equals("patika") && password.equals("java123")) {
            System.out.println("Giriş Yaptınız !");
        } else {
            System.out.println("Hatalı Giriş Yaptınız.Şifrenizi Değiştirmek İster Misiniz? (Evet/Hayır): ");
            answer= input.nextLine();

             if(answer.equals("Evet")) {
                 System.out.println("Yeni Şifreyi Giriniz: ");
                 newPassword = input.nextLine();
                 input.close();

              if (!newPassword.equals("java123")) {
                  System.out.println("Şifre Oluşturuldu.");
              } else {
                  System.out.println("Şifre Oluşturulamadı.Lütfen Başka Şifre Giriniz. ");
              }

                 
             }
        }

    }
}
